{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

<h1>Conversor de número</h2><br>

<a href="/number/conversor" class="btn btn-dark btn-lg">Conversor de números</a><br><br><br>

<h1>HeatMap</h1><br>

<a href="/heatmap" class="btn btn-dark btn-lg">HeatMap</a>

{% endblock %}
